:root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: rgb(109, 194, 194);
  margin: 0;
}

h1 {
  text-align: center;
  color: white;
  letter-spacing: 0.5px;
}

p {
  color: white;
  letter-spacing: 0.5px;
  line-height: 2;
}

li {
  color: white;
  letter-spacing: 0.5px;
  line-height: 2;
}

h2,
h3 {
  text-align: center;
  top: 0;
  color: white;
  letter-spacing: 0.5px;
}

h4 {
  color: rgb(255, 255, 255);
  letter-spacing: 0.1px;
}

img {
  width: 100%;
  height: auto;
}

header {
  background-color: rgb(4, 82, 82);
  color: white;
  top: 0;
  padding: 1.5em;
}

dialog {
  border-color: rgb(173, 255, 255);
  background-color: rgb(4, 82, 82);
  width: 45vw;
}

button {
  text-align: center;
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgb(109, 194, 194);
  text-transform: uppercase;
  padding: 5px;
  width: 100%;
}

/*----------------grids----------------------*/
dialog {
  width: 65vw;
  padding: 2em 1em;
}

dialog::backdrop {
  background: rgba(130, 180, 185, 0.8);
}

#dialog-grid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px;
}

.grid-item {
  box-shadow: 1px 1px 8px black;
  padding: 5vh;
  background-color: rgb(4, 82, 82);
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px 10px;
  padding: 20px;
}

/*--------------media--------------------*/

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
    display: grid;
  }
}

@media screen and (min-width: 601px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
}

@media screen and (min-width: 801px) {
  .grid-container {
    grid-template-columns: auto auto auto auto;
    display: grid;
  }
}

@media screen and (max-width: 1000px) {
  #dialog-grid {
    grid-template-columns: 1fr;
    display: grid;
  }
}
